.monthly-container {
    height: 170px;
    width: 560px;
    background-color: rgb(183, 164, 182);
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pipe-container {
    display: flex;
    background-color: none;
    margin-top: 0px;
    height: 80px;
    width: 520px;
    justify-content: space-between;
}

.month-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 40px;
    width: 530px;
    font-family:  sans-serif;
    color: black;
}

