.input {
    height: 30px;
    width: 280px;
    border: none;

}
.inputDiv {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 25px;
    /* height: 30px; */
    width: 250px;
    border: 0px;
    border-bottom: 2px solid rgb(157, 153, 153);
}

:placeholder-shown {
    font-size: 25px;
}